# Author: Fulup Ar Foll fulup@iot.bzh
# Object: Start Deye monitoring service
# sudo cp ultrasonic.service /usr/lib/systemd/system/.
# sudo systemctl daemon-reload
# sudo systemctl start ultrasonic
# sudo journalctl -fxeu ultrasonic.service
# sudo systemctl enable ultrasonic

[Unit]
Wants=network-online.target
After=network-online.target
Description=Ultrasonic water meeter
Wants=mosquitto.service
After=mosquitto.service

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target

[Service]
# note: environement var are not exported to final process
Environment="LD_LIBRARY_PATH=/usr/local/lib64:/usr/local/lib:/usr/local/redpesk/modbus-binding/lib"
EnvironmentFile=/etc/secrets/mqtt.secrets
Restart=always
RestartSec=10
User=fulup
ExecStop=pkill afb-ultrasonic
Delegate=yes
SyslogIdentifier=%N
ExecStart=/usr/local/bin/afb-binder -v --name=afb-ultrasonic --config=/home/fulup/Workspace/Tux-Solar/Ultrasonic-Meeter/etc/modbus-ultrasonic-meeter.yaml

